<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>FSArchiver - {{ .Title }}</title>
  <link rel="stylesheet" href="/fsarchiver.css" type="text/css"/>
  {{ hugo.Generator }}
</head>
