<div id="colleft">
    {{- range .Site.Pages }}
      <div><a href="{{ .Permalink }}">{{ .Params.nameInMenu }}</a></div>
    {{- end }}
    <hr/>
    <div><a href="https://www.system-rescue.org/">SystemRescue</a></div>
    <div><a href="https://www.system-rescue.org/lvm-guide-en/Making-consistent-backups-with-LVM/">LVM Backups</a></div>
    <div><a href="http://rubackup.gitlab.io/">rubackup</a></div>
</div>
