<div id="topmenu">
    <ul>
        <li><a href="{{ .Site.BaseURL  }}">Homepage</a></li>
        <li><a href="https://github.com/fdupoux/fsarchiver">Repository</a></li>
        <li><a href="https://github.com/fdupoux/fsarchiver/issues">Bugs</a></li>
        <li><a href="https://gitlab.com/fsarchiver/fsarchiver.gitlab.io">Website</a></li>
    </ul>
</div>
